/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 40%;
  width: 60%;
}

table td {
  display: none;
}

.navigat {
  padding: .375rem .75rem
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

input {
  margin: 0.4rem;
}

label {
  font: 1rem "Fira Sans", sans-serif;
}

td,
th {
  border: 1px dotted grey;
  padding: 4px;
  display: none;
}
th {
  font-weight: bold;
}
