.toggleButton {
  position: absolute;
  top: 64px;
  left: 32px;
  z-index: 5;
}

.changeData {
  position: absolute;
  top: 64px;
  left: 165px;
  z-index: 10;
}

.googlemap {
  height: "100vh";
  width: "100%";
}
